In [27]:
import pandas as pd
df = pd.read_csv(r'C:\Users\JulienRigot\OneDrive - LIS Data Solutions\Escritorio\code_GORDIAS\base de datos graph\Tigergraph\CSV_entrega\conexiones_biggest_europe_cities_without_code_dailymovement80% copy.csv')

In [28]:
df

,CODE_Origin,CODE_Destination,Coste,Carga,Capacidad,daily_movement
0,Madrid,Barcelona,10,Sobrecargado,120,130.0
1,Madrid,Valencia,9,Subcargado,110,10.0
2,Madrid,Seville,11,Optimal,100,80.0
3,Madrid,Bilbao,8,Optimal,90,72.0
4,Madrid,Zaragoza,7,Optimal,80,64.0
...,...,...,...,...,...,...
116,Olomouc,Krakow,10,Optimal,95,76.0
117,Warsaw,Berlin,9,Optimal,100,80.0
118,Warsaw,Vilnius,8,Optimal,75,60.0
119,Vilnius,Krakow,11,Optimal,70,56.0
120,Hamburg,Copenhague,11,Optimal,70,56.0

In [29]:
df["daily_movement"]=0

In [31]:
df.to_csv(r"C:\Users\JulienRigot\OneDrive - LIS Data Solutions\Escritorio\code_GORDIAS\base de datos graph\Tigergraph\CSV_entrega\conexiones_biggest_europe_cities_without_code_dailymovement80% copy.csv",index=False)

In [2]:
import pyTigerGraph as tg
hostName = "https://2cc2f8bde8df444bb60c6fb83491bb8c.i.tgcloud.io"
graphName = "VWG"
secret = "m2p8nba0uab7dtthbn4o1b30r8tqgg9a"
userName = "user_1"
password = "A1z2e3r4*"

conn = tg.TigerGraphConnection(host=hostName, graphname=graphName, username=userName, password=password)
conn.getToken(secret)

c:\Users\JulienRigot\OneDrive - LIS Data Solutions\Escritorio\code_GORDIAS\.venv\Lib\site-packages\pyTigerGraph\pyTigerGraphAuth.py:264: DeprecationWarning: datetime.datetime.utcfromtimestamp() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.fromtimestamp(timestamp, datetime.UTC).
  datetime.utcfromtimestamp(float(res.get("expiration"))).strftime('%Y-%m-%d %H:%M:%S')

('mmo780qo69sjg8k5sc5v4d0ks5v3h095', 1733478992, '2024-12-06 09:56:32')

In [4]:
edges_dict = conn.getEdgesByType("distribute_to")

In [9]:
edges_dict[0]["attributes"]["Daily_movement"]

0

In [10]:
edges_dict[0]["attributes"]

{'Price': 11, 'Carga': 'Subcargado', 'Capacity': 65, 'Daily_movement': 0}